@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: ();
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: relative;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #f2f2f2;
  position: relative;
}

.logo {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;

}

.logo_place_header {
width: 228px;
height: 32px;
margin-top: 0;
}

.header_title {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 1;
  }

.header_link {
  padding-left: 64px;
  width: 338px;
  position: absolute;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  position: absolute;
}

.header__main-illustration img {
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  position: absolute;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: inherit;
  min-width: 784px;
  width: 80%;
  padding-top: 100px;
}

.two-columns_brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  min-width: 175px;
}

.two-columns_paragraph {
  min-width: 784px;
  width: 80%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}

.two-columns_paragraph_1 {
line-height: 34px;
font-size: 24px;
font-weight: normal;
}

.two-columns_paragraph_2 {
line-height: 34px;
font-size: 24px;
padding-top: 30px;
}

.two-columns_paragraph_2_highlight {
  color: black;
  font-weight: bold;
}

.two-columns_paragraph_3 {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-top: 30px;
  }

.digits_section-title {
text-align: center;
margin-left: auto;
margin-right: auto;
line-height: 1.15;
font-size: 60px;
font-weight: 600;
margin-bottom: 0;
margin-top: 0;
padding-bottom: 0;
padding-top: 100px;
}

.digits_section-subtitle {
  padding-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  padding-left: 0;
  padding-right: 0;
}

.table_cell {
  width: 1100px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.table_cell_card {
  width: 250px;
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.table_cell_card_heading {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
}

.table_cell_card_text {
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 0;
}

.feynman {
  position: relative;
  height: 890px;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  margin-top: 0;
  padding-top: 0;
}

.feynman_title {
  display: block;
  text-align: center;
  margin-right : auto;
  margin-left: auto;
  top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  position: relative;
  }

.feynman_subtitle {
  text-align: center;
  top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  }

.feynman_link {
  top: 50%;
  right: 48px;
  text-align: right;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  text-decoration: none;
}

.kaufman {
  background-color: #000000;
  overflow: hidden;
  position: relative;
}

.kaufman__section-title_theme_dark {
  text-align: center;
  z-index: 2;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0px;
  position: relative;
  padding-top: 90px;
}

.kaufman_triangle {
  right: -210px;
  top: 0;
  position: absolute;
  z-index: 1;
  width: 877px;
  height: 877px;
}

.kaufman__section-subtitle_theme_dark {
  text-align: center;
  z-index: 2;
  color: white;
  top: 20px;
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 20px;
}

.kaufman__table_theme_dark {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.table__cell_theme_dark {
  color: white;
  z-index: 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  list-style-type: none;
  padding-top: 0;
}

.card {
  width: 200px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card_title {
  padding-top: 80px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.card_description {
  padding-top: 0;
  margin-top: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 200px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer {
  min-height: 350px;
  background-color: #000000;
  padding: 0;
  position: absolute;
  width: 100%;
}

.footer_column {
  min-height: 250px;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
}

.footer_columns_content_copyright {
  width: 50%;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer_author {
  color: white;
  position: absolute;
  margin: 18px 0 18px 0;
  bottom: 0;
  left: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer_columns_content_info{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  padding-top: 0;
}

.footer_column-link {
  min-height: 250px;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  color: white;

}

.social_icon {
  list-style-type: none;
}

.heading {
  list-style-type: none;
}

.heading_1 {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.heading_1 h3 {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
